body {
    background-image: url(../blue-beautiful-water.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

/* Középre igazítás */
.centered-content {
    display: flex;
    flex-direction: column; /* A belső elemek függőlegesen rendeződnek */
    justify-content: center; /* Vertikális középre igazítás */
    align-items: center; /* Horizontális középre igazítás */
    height: 100vh; /* Az oldal teljes magasságához igazodik */
    text-align: center; /* Szöveg középre igazítása */
}
.white-box {
    background-color: white; /* Fehér háttér */
    padding: 20px;           /* Térköz a tartalom körül */
    border-radius: 10px;     /* Lekerekített sarkok */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Finom árnyék */
    margin: 20px auto;       /* Középre igazított margó */
    max-width: 800px;        /* Maximális szélesség */
}
#controls{
    justify-content: center; /* Vertikális középre igazítás */
    align-items: center; /* Horizontális középre igazítás */
    text-align: center; /* Szöveg középre igazítása */
}
.navbar-nav .nav-link:hover {
    background-color: rgba(7, 19, 187, 0.18); /* Egeres szín */
    color: white; /* Fehér szín a szövegre */
}
/* Footer stílus */
.footer {
    background-color: #17a2b8; /* Bootstrap bg-info szín */
    color: white;
    text-align: center;
    padding: 1rem 0;
}