body {
    background-image: url(../vizet-mindenkinek-marcius-22-e-a-viz-vilagnapja-853b0d13-1809313.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}
.white-box {
    background-color: white; /* Fehér háttér */
    padding: 20px;           /* Térköz a tartalom körül */
    border-radius: 10px;     /* Lekerekített sarkok */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Finom árnyék */
    max-width: 800px;        /* Maximális szélesség */
    margin-left: 10px;          /* Bal oldali igazítás */
    margin-right: auto;      /* Jobb oldali auto térköz */
}
.custom-table {
    width: auto; /* Táblázat szélessége igazodik a tartalomhoz */
    max-width: 100%; /* Maximalizált szélesség, hogy mobilbarát maradjon */
    overflow: hidden; /* Nem engedi, hogy a tartalom kinyúljon */
}

.custom-table tbody tr:last-child td {
    border-bottom: 2px solid #ccc; /* Alsó vonal formázása */
}

.custom-table th, .custom-table td {
    text-align: left; /* Középre igazított szöveg */
    padding: 10px; /* Szellős cellák */
    vertical-align: left; /* Függőleges középre igazítás */
}